<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zombie Game V-0.1</title>
    <link rel="stylesheet" href="lib/bootstrap-5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="lib/bootstrap-5.0.2/js/bootstrap.min.js"></script>
    <script src="lib/vue/vue.min.js"></script>
    <script src="lib/signalr/signalr.min.js"></script>
    <script src="lib/axios/axios.min.js"></script>
</head>
<body>
    <div class="" id="vue-wrapper">
        <div v-if="viewState==='loading'">
            <h3 class="my-auto mx-auto">
                Loading...
            </h3>
        </div>
        <div class="p-5 mx-auto mt-2" v-if="viewState==='nick'">
            <div class="nick-card card mx-auto mt-5">
                <div class="card-body px-3 text-center">
                    <h5>Enter Nickname:</h5>
                    <input class="form-control mt-2" type="text" v-model="nick" placeholder="Enter Nickname">
                    <button class="btn btn-danger mt-3" v-on:click="setName()">
                        Enter Game
                    </button>
                    
                </div>
            </div>
        </div>
        <div class="p-5 mx-auto mt-2" v-if="viewState === 'gameRooms'">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-12 mx-auto">
                    <div class="row mx-3">
                        <div class="col-12 border p-4 d-flex" v-for="room in gameRooms">
                            <div class="me-auto">
                                ${room.name}}
                            </div>
                            <div class="ms-auto">
                                <button class="btn btn-outline-success" type="button" v-on:click="joinGame(room.id)" >Join Game</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="viewState==='inGame'">
            <div class="d-flex full-fill" id="canvas-wrapper">
                <canvas class="mx-auto"></canvas>
            </div>
        </div>
    </div>
</body>
    <script src="js/app.js"></script>
</html>